<!-- Header -->
<header id="indexHeader">
    <div class="container-fluid d-flex align-items-center h-100">
        <!-- Row -->
        <div class="row m-auto d-flex justify-content-center">
            <!-- Header Content -->
            <div class="col-md-7 text-center">
                <h1 class="fw-bold text-charcoal m-b-30">We've changed how you find good food</h1>

                <p class="col-md-11 m-auto fw-sm-bold p-header text-manatee">
                    If you love food and love finding local spots to try out, look no further than the
                    findDining web service. Powered by the latest in modern web development tools.
                </p>

                <ul class="header-buttons m-t-30">
                    <li class="header-button-item"><a href="/api/search" class="btn btn-primary">Get started</a></li>
                    <li class="header-button-item"><a href="" class="btn btn-secondary">Learn more</a></li>
                </ul>
            </div>
            <!-- /.header-content -->
        </div>
        <!-- /.row -->
    </div>
</header>
<!-- /.header -->

<!-- Features Section -->
<section id="features">
    <div class="container-fluid d-flex flex-column">
        <!-- Section Header -->
        <div class="row section-header ms-auto me-auto text-center d-flex flex-column align-items-center w-100 m-b-100">
            <h2 class="col-md-4 fw-bold text-charcoal m-b-25">Simple and intuitive user features</h2>

            <p class="col-md-4 fw-medium p-section-header text-silver">
                findDining comes equipped with simple and useful features that make
                finding what you’re looking for so much easier. 
            </p>
        </div>
        <!-- /.section-header -->

        <!-- Section Content -->
        <div class="row section-content m-auto w-100">
            <div class="row w-100 m-auto d-flex justify-content-around">
                <!-- Card -->
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa-sharp fa-solid fa-fw fa-hashtag"></i>
                        </div>
                        <h5 class="card-title">Search by keyword</h5>
                        <p class="card-text">
                            Keyword based search functionality and filter enables you to find what you are looking for quickly.
                        </p>
                        <a href="" class="card-link">Learn more<i class="fa-sharp fa-solid fa-fw fa-arrow-right"></i></a>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Card -->
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa-sharp fa-solid fa-fw fa-magnifying-glass"></i>
                        </div>
                        
                        <h5 class="card-title">Result filtering</h5>
                        <p class="card-text">
                            Don’t get overwhelmed by a the large amount of search results, use our filter functionality to focus your results.
                        </p>
                        <a href="" class="card-link">Learn more<i class="fa-sharp fa-solid fa-fw fa-arrow-right"></i></a>
                    </div>
                </div>
                <!-- /.card -->
                <!-- Card -->
                <div class="col-md-3 card">
                    <div class="card-body">
                        <div class="card-body-icon">
                            <i class="fa-solid fa-fw fa-location-dot"></i>
                        </div>
                        <h5 class="card-title">Open in Google Maps</h5>
                        <p class="card-text">
                            Found a food spot you’d like to try? Find out how close or far you are through Google Maps with one click.
                        </p>
                        <a href="" class="card-link">Learn more<i class="fa-sharp fa-solid fa-fw fa-arrow-right"></i></a>
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
        <!-- /.section-content -->
    </div>
</section>
<!-- /.features-section -->

<!-- Highlights Section -->
<section id="highlightSection">
    <div class="container-fluid">
        <div class="row d-flex col-md-9 justify-content-center align-items-center m-auto">
            <div class="col-md-5 title-section text-right p-r-0">
                <h2 class="fw-bold text-charcoal">Find food spots hassle free</h2>
                <p class="fw-medium text-manatee col-md-10">
                    findDining allows you to find what you’re looking for through quick search functionality. Search by keywords,
                    cuisine, and more to find the next food spot
                </p>
                <a href="#" class="link"><button class="btn btn-primary">Get Started</button></a>
            </div>
            <div class="col-md-6 image-side text-center">
                <img src="/img/card-img.png" alt="">
            </div>
        </div>
        <div class="spacer w-100 p-t-50 p-b-50"></div>
        <div class="row d-flex col-md-9 justify-content-center align-items-center m-auto">
            <div class="col-md-6 image-side p-l-0 text-center">
                <img src="/img/card-img.png" alt="">
            </div>
            <div class="col-md-5 title-section text-left p-l-0">
                <h2 class="fw-bold text-charcoal">Built using modern web tools</h2>
                <p class="fw-medium text-manatee col-md-10">
                    findDining allows you to find what you’re looking for through quick search functionality. Search by keywords,
                    cuisine, and more to find the next food spot
                </p>
                <a href="#" class="link"><button class="btn btn-secondary">Learn More</button></a>
            </div>
        </div>
    </div>
</section>
<!-- /.highlights-section -->

<!-- Encryption -->
<section id="encryption">
    <div class="container-fluid m-auto">
        <div class="row d-flex col-md-9 justify-content-between align-items-center m-auto">
            <div class="col-md-6 encryption-cards">
                <div class="row d-flex justify-content-around m-b-25">
                    <div class="card col-md-5 d-flex justify-content-start">
                        <div class="card-icon"><i class="far fa-solid fa-lock fa-fw"></i></div>
                        <h5 class="card-title">Encryption</h5>
                        <p class="card-text">
                            Keyword based search functionality and filter enables you to find 
                        </p>
                    </div>
                    <div class="card col-md-5 d-flex justify-content-start">
                        <div class="card-icon"><i class="far fa-solid fa-lock fa-fw"></i></div>
                        <h5 class="card-title">Encryption</h5>
                        <p class="card-text">
                            Keyword based search functionality and filter enables you to find 
                        </p>
                    </div>
                </div>
                <div class="row d-flex justify-content-around">
                    <div class="card col-md-5 d-flex justify-content-start">
                        <div class="card-icon"><i class="far fa-solid fa-lock fa-fw"></i></div>
                        <h5 class="card-title">Encryption</h5>
                        <p class="card-text">
                            Keyword based search functionality and filter enables you to find 
                        </p>
                    </div>
                    <div class="card col-md-5 d-flex justify-content-start">
                        <div class="card-icon"><i class="far fa-solid fa-lock fa-fw"></i></div>
                        <h5 class="card-title">Encryption</h5>
                        <p class="card-text">
                            Keyword based search functionality and filter enables you to find 
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5 title-section text-left p-l-0 p-r-50 encryption-text">
                <div class="row">
                    <h2 class="fw-bold text-charcoal">Find food spots hassle free</h2>
                    <p class="fw-medium text-manatee col-md-10">
                        findDining allows you to find what you’re looking for through quick search functionality. Search by keywords,
                        cuisine, and more to find the next food spot
                    </p>
                </div>
                
                <a href="#" class="link"><button class="btn btn-secondary">Learn More</button></a>
            </div>
        </div>
    </div>
</section>
<!-- /.encryption -->

<!-- Google Maps -->
<section id="googleMaps">
    <div class="container-fluid m-auto">
        <!-- Row -->
        <div class="row d-flex col-md-9 justify-content-center align-items-center m-auto">
            <div class="col-md-6 image-side p-l-0 text-center">
                <img src="/img/google-maps.png" alt="">
            </div>
            <div class="col-md-6 title-section text-left p-l-0">
                <div class="row">
                    <h2 class="fw-bold text-charcoal">Google Maps integration</h2>
                    <p class="fw-medium text-manatee col-md-10">
                        Our web app is built on the latest in web development technology, giving you fast and secure access, and a 
                        seamless user experience across all web capable devices
                    </p>
                </div>
                <div class="row">
                    <div class="details d-flex justify-content-start align-items-center">
                        <div class="details-icon">
                            <i class="fa-sharp fa-solid fa-hashtag fa-fw"></i>
                        </div>
                        <div class="details-text">
                            <h6 class="details-title">Search by keyword</h6>
                            <p class="col-md-9 details-small">Keyword based search functionality and filter enables you to find what you are looking for quickly.</p>
                        </div>
                    </div>
                    <div class="details d-flex justify-content-start align-items-center">
                        <div class="details-icon">
                            <i class="fa-sharp fa-solid fa-hashtag fa-fw"></i>
                        </div>
                        <div class="details-text">
                            <h6 class="details-title">Search by keyword</h6>
                            <p class="col-md-9 details-small">Keyword based search functionality and filter enables you to find what you are looking for quickly.</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="link"><button class="btn btn-secondary">Learn More</button></a>
            </div>
        </div>
        <!-- /.row -->

        <!-- Row -->
        <div class="row d-flex col-md-9 justify-content-center align-items-center m-auto">
            <div class="col-md-6 title-section text-left p-l-0">
                <div class="row">
                    <h2 class="fw-bold text-charcoal">Google Maps integration</h2>
                    <p class="fw-medium text-manatee col-md-10">
                        Our web app is built on the latest in web development technology, giving you fast and secure access, and a 
                        seamless user experience across all web capable devices
                    </p>
                </div>
                <div class="row">
                    <div class="details d-flex justify-content-end align-items-center">
                        <div class="details-icon">
                            <i class="fa-sharp fa-solid fa-hashtag fa-fw"></i>
                        </div>
                        <div class="details-text">
                            <h6 class="details-title">Search by keyword</h6>
                            <p class="col-md-9 details-small">Keyword based search functionality and filter enables you to find what you are looking for quickly.</p>
                        </div>
                    </div>
                    <div class="details d-flex justify-content-end align-items-center">
                        <div class="details-icon">
                            <i class="fa-sharp fa-solid fa-hashtag fa-fw"></i>
                        </div>
                        <div class="details-text">
                            <h6 class="details-title">Search by keyword</h6>
                            <p class="col-md-9 details-small">Keyword based search functionality and filter enables you to find what you are looking for quickly.</p>
                        </div>
                    </div>
                </div>
                <a href="#" class="link"><button class="btn btn-secondary">Learn More</button></a>
            </div>
            <div class="col-md-6 image-side p-l-0 text-center">
                <img src="/img/google-maps.png" alt="">
            </div>
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.google-maps -->

<!-- Testimonials -->
<section id="testimonials">
    <div class="container-fluid">
        <!-- Section Header -->
        <div class="row section-header ms-auto me-auto text-center d-flex flex-column align-items-center w-100 m-b-100">
            <h2 class="col-md-4 fw-bold text-charcoal m-b-25">Hear from our users</h2>

            <p class="col-md-5 fw-medium p-section-header text-silver">
                Your feedback is very useful to  us, as we continue to improve the service we rely on your reviews to provide a better product. 
            </p>
        </div>
        <!-- /.section-header -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide testimonials-area" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 0; i < 3; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 3; i < 6; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 6; i < 9; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</section>
<!-- /.testimonials  -->