<!-- Header -->
<header id="indexHeader" class="bg-white">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Header Row -->
        <div class="row header-row">
            <!-- Jumbotron -->
            <div class="jumbotron col-md-10">
                <h1 class="fw-700 text-charcoal text-header">We've changed how you find good food</h1>
                <p class="body-1 fw-600 text-manatee">
                    If you love food and love finding local spots to try out, look no further than the findDining web service. Powered by the latest in modern web development tools.
                </p>
                <!-- Header Links -->
                <ul class="header-links">
                    <li class="header-link-item"><a href="/search" class="link"><button class="btn btn-primary">Get started</button></a></li>
                    <li class="header-link-item"><a href="/howitworks" class="link"><button class="btn btn-secondary">Learn more</button></a></li>
                </ul>
                <!-- /.header-links -->
            </div>
            <!-- /.jumbotron -->
        </div>
        <!-- /.header-row -->
    </div>
    <!-- /.container -->
</header>
<!-- /.header -->

<!-- Features Section -->
<section id="features" class="bg-owhite section">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Section Header -->
        <div class="row section-row section-header">
            <!-- Header Content -->
            <div class="section-header-content col-md-5">
                <h2 class="section-heading fw-700 text-charcoal">Simple and intuitive user features</h2>
                <p class="section-heading-text fw-600 body-1 text-manatee">
                    findDining comes equipped with simple and useful features that make finding what you’re looking for so much easier.
                </p>
            </div>
            <!-- /.header-content -->
        </div>
        <!-- /.section-header -->

        <!-- Section Content -->
        <div class="row section-row section-content">
            <!-- Features Area -->
            <div class="features-area">
                <!-- Card -->
                <div class="card feature-card">
                    <!-- Card Head -->
                    <div class="card-head">
                        <div class="card-icon">
                            <i class="fa-sharp fa-solid fa-fw fa-icon fa-hashtag"></i>
                        </div>
                    </div>
                    <!-- /.card-head -->

                    <!-- Card Body -->
                    <div class="card-body">
                        <h5 class="card-title text-charcoal fw-700">Search by keyword</h5>
                        <p class="card-text body-2">
                            Keyword based search functionality and filter enables you to find what you are looking for quickly.
                        </p>

                        <a href="/features" class="link inline-link feature-link">
                            Learn more<i class="fa-solid fa-sharp link-icon fa-fw fa-arrow-right"></i>
                        </a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- Card -->
                <div class="card feature-card">
                    <!-- Card Head -->
                    <div class="card-head">
                        <div class="card-icon">
                            <i class="fa-sharp fa-solid fa-fw fa-icon fa-filter"></i>
                        </div>
                    </div>
                    <!-- /.card-head -->

                    <!-- Card Body -->
                    <div class="card-body">
                        <h5 class="card-title text-charcoal fw-700">Result filtering</h5>
                        <p class="card-text body-2">
                            Don’t get overwhelmed by a the large amount of search results, use our filter functionality to focus your results.
                        </p>

                        <a href="/features" class="link inline-link feature-link">
                            Learn more<i class="fa-solid fa-sharp link-icon fa-fw fa-arrow-right"></i>
                        </a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <!-- Card -->
                <div class="card feature-card">
                    <!-- Card Head -->
                    <div class="card-head">
                        <div class="card-icon">
                            <i class="fa-sharp fa-solid fa-fw fa-icon fa-location-dot"></i>
                        </div>
                    </div>
                    <!-- /.card-head -->

                    <!-- Card Body -->
                    <div class="card-body">
                        <h5 class="card-title text-charcoal fw-700">Open in Google Maps</h5>
                        <p class="card-text body-2">
                            Found a food spot you’d like to try? Find out how close or far you are through Google Maps with one click.
                        </p>

                        <a href="/features" class="link inline-link feature-link">
                            Learn more<i class="fa-solid fa-sharp link-icon fa-fw fa-arrow-right"></i>
                        </a>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.features-area -->
        </div>
        <!-- /.section-content -->
    </div>
    <!-- /.container -->
</section>
<!-- /.features-section -->

<!-- Highlights Section -->
<section id="highlights" class="bg-white section">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Section Content -->
        <div class="row section-row section-content">
            <!-- Highlights Area -->
            <div class="highlights-area">
                <!-- Highlights Row -->
                <div class="highlights-row">
                    <!-- Text Column -->
                    <div class="highlights-text col-h">
                        <h2 class="fw-700 text-charcoal col-header">Find food spots hassle free</h2>

                        <p class="body-2 fw-500 text-manatee col-text">
                            findDining allows you to find what you’re looking for through quick search functionality. Search by keywords,
                            cuisine, and more to find the next food spot.
                        </p>

                        <a href="#" class="link"><button class="btn btn-primary">Get started</button></a>
                    </div>
                    <!-- /.text-column -->

                    <!-- Image Column -->
                    <div class="highlights-image col-h">
                        <img src="/img/card-img.png" alt="" class="h-img" draggable="false">
                    </div>
                    <!-- /.image-column -->
                </div>
                <!-- /.highlights-row -->

                <!-- Highlights Row -->
                <div class="highlights-row">
                    <!-- Image Column -->
                    <div class="highlights-image col-h">
                        <img src="/img/card-img.png" alt="" class="h-img" draggable="false">
                    </div>
                    <!-- /.image-column -->

                    <!-- Text Column -->
                    <div class="highlights-text col-h">
                        <h2 class="fw-700 text-charcoal col-header">Built using modern web tools</h2>

                        <p class="body-2 fw-500 text-manatee col-text">
                            Our web app is built on the latest in web development technology, giving you fast and secure access, and a
                            seamless user experience across all web capable devices
                        </p>

                        <a href="#" class="link"><button class="btn btn-secondary">Learn more</button></a>
                    </div>
                    <!-- /.text-column -->
                </div>
                <!-- /.highlights-row -->
            </div>
            <!-- /.highlights-area -->
        </div>
        <!-- /.section-content -->
    </div>
    <!-- /.container -->
</section>
<!-- /.highlights-section -->

<!-- Extras -->
<section id="extras" class="section bg-owhite">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Section Content -->
        <div class="row section-row section-content">
            <!-- Extras Area -->
            <div class="extras-area">
                <!-- Column -->
                <div class="col-e col-left">
                    <!-- Extras Column Row -->
                    <div class="row extras-col-row">
                        <!-- Card -->
                        <div class="card extra-card">
                            <!-- Card Head -->
                            <div class="card-head">
                                <div class="card-icon"><i class="fa-icon fa-fw fa-solid fa-bookmark"></i></div>
                            </div>
                            <!-- /.card-head -->

                            <!-- Card Body -->
                            <div class="card-body">
                                <h5 class="card-title text-charcoal fw-600">Modern UI</h5>

                                <p class="card-text text-manatee fw-400 body-3">
                                    Minimal and modern user interface design, focused on userbility above all.
                                </p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- Card -->
                        <div class="card extra-card">
                            <!-- Card Head -->
                            <div class="card-head">
                                <div class="card-icon"><i class="fa-icon fa-fw fa-solid fa-mobile-alt"></i></div>
                            </div>
                            <!-- /.card-head -->

                            <!-- Card Body -->
                            <div class="card-body">
                                <h5 class="card-title text-charcoal fw-600">Mobile Friendly</h5>

                                <p class="card-text text-manatee fw-400 body-3">
                                    findDining is built with mobile view experiences like smart phones in mind
                                </p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.extras-column-row -->

                    <!-- Extras Column Row -->
                    <div class="row extras-col-row">
                        <!-- Card -->
                        <div class="card extra-card">
                            <!-- Card Head -->
                            <div class="card-head">
                                <div class="card-icon"><i class="fa-icon fa-fw fa-solid fa-calendar-alt"></i></div>
                            </div>
                            <!-- /.card-head -->

                            <!-- Card Body -->
                            <div class="card-body">
                                <h5 class="card-title text-charcoal fw-600">Up to Date</h5>

                                <p class="card-text text-manatee fw-400 body-3">
                                    Our database is constantly updated to ensure up to date information is served
                                </p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                        <!-- Card -->
                        <div class="card extra-card">
                            <!-- Card Head -->
                            <div class="card-head">
                                <div class="card-icon"><i class="fa-icon fa-fw fa-solid fa-clock"></i></div>
                            </div>
                            <!-- /.card-head -->

                            <!-- Card Body -->
                            <div class="card-body">
                                <h5 class="card-title text-charcoal fw-600">24/7</h5>

                                <p class="card-text text-manatee fw-400 body-3">
                                    findDining is available all day and night, ready for you to start searching
                                </p>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.extras-column-row -->
                </div>
                <!-- /.column -->

                <!-- Column -->
                <div class="col-e col-right">
                    <h2 class="fw-700 text-charcoal col-header">Find food spots hassle free</h2>

                    <p class="body-2 fw-500 text-manatee col-text">
                        findDining allows you to find what you’re looking for through quick search functionality. Search by keywords,
                        cuisine, and more to find the next food spot
                    </p>

                    <a href="/search" class="link"><button class="btn btn-primary">Get started</button></a>
                </div>
                <!-- /.column -->
            </div>
            <!-- /.extras-area -->
        </div>
        <!-- /.section-content -->
    </div>
    <!-- /.container -->
</section>
<!-- /.extras -->

<!-- Google Maps -->
<section id="googleMaps" class="section bg-white">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Section Content -->
        <div class="row section-content section-row">
            <!-- Maps Area -->
            <div class="maps-area">
                <!-- Column -->
                <div class="col-md-6 col-left">
                    <img src="/img/google-maps.png" alt="Google Maps card">
                </div>
                <!-- /.column -->

                <!-- Column -->
                <div class="col-md-6 col-right">
                    <h2 class="fw-700 text-charcoal col-header">Google Maps integration</h2>

                    <p class="body-2 fw-500 text-manatee col-text">
                        Our web app is built on the latest in web development technology, giving you fast and secure access, and a
                        seamless user experience across all web capable devices
                    </p>

                    <!-- Details Row -->
                    <div class="d-row">
                        <div class="row-icon">
                            <i class="fa-solid fa-magnifying-glass fa-fw fa-icon"></i>
                        </div>
                        <div class="row-text">
                            <h6 class="row-text-header">Find your restaurant</h6>

                            <p class="row-text-small">
                                Use our search functionality to find restaurants and filter to narrow down the one you’d like to try.
                            </p>
                        </div>
                    </div>
                    <!-- /.details-row -->

                    <!-- Details Row -->
                    <div class="d-row">
                        <div class="row-icon">
                            <i class="fa-solid fa-map fa-fw fa-icon"></i>
                        </div>
                        <div class="row-text">
                            <h6 class="row-text-header">On demand directions</h6>

                            <p class="row-text-small">
                                Open the restaurant location with Google Maps and get on demand directions.
                            </p>
                        </div>
                    </div>
                    <!-- /.details-row -->

                    <a href="#" class="link inline-link">Learn more<i class="fa-solid fa-sharp fa-arrow-right link-icon fa-fw fa-icon"></i></a>
                </div>
                <!-- /.column -->
            </div>
            <!-- /.maps-area -->
        </div>
        <!-- /.section-content -->
    </div>
    <!-- /.container -->
</section>
<!-- /.google-maps -->

<!-- Testimonials -->
<section id="testimonials">
    <div class="container-fluid">
        <!-- Section Header -->
        <div class="row section-header ms-auto me-auto text-center d-flex flex-column align-items-center w-100 m-b-100">
            <h2 class="col-md-4 fw-bold text-charcoal m-b-25">Hear from our users</h2>

            <p class="col-md-5 fw-medium p-section-header text-silver">
                Your feedback is very useful to  us, as we continue to improve the service we rely on your reviews to provide a better product. 
            </p>
        </div>
        <!-- /.section-header -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide testimonials-area" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 0; i < 3; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 3; i < 6; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 6; i < 9; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</section>
<!-- /.testimonials  -->