<!-- Search Header -->
<header id="searchHeader" class="bg-owhite">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Row -->
        <div class="row search-header-row">
            <!-- Header Content -->
            <div class="search-header-content col-md-9">
                <div class="row">
                    <h3 class="fw-600 text-charcoal search-heading">Find restaurants</h3>
                    <p class="body-3 fw-500 text-manatee search-header-text">
                        Find your next favorite <span class="span">#restaurant</span>, <span class="span">#bakery</span>, or <span class="span">#ice-cream</span> shop now.
                    </p>
                </div>
                <div class="row">
                    <div class="header-form">
                        <form action="" class="search-form">
                            <div class="row search-form-row">
                                <div class="col-md-5 search-form-col">
                                    <i class="fa-solid fa-magnifying-glass fa-fw search-icon"></i>
                                    <input type="text" name="name-search" id="" class="form-input" placeholder="Search by name">
                                </div>
                                <div class="col-md-5 search-form-col">
                                    <i class="fa-solid fa-magnifying-glass fa-fw search-icon"></i>
                                    <input type="text" name="keyword-search" id="" class="form-input" placeholder="Search by keyword">
                                </div>
                                <div class="col-md-2 search-form-col">
                                    <button class="btn btn-form btn-form-clear">Clear</button>
                                    <button class="btn btn-form btn-form-search">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.header-content -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</header>
<!-- /.search-header -->

<!-- Search Results -->
<section id="searchResults">
    <!-- Container -->
    <div class="container-fluid m-auto">
        <!-- Row -->
        <div class="row results-row">
            <div class="col-md-9 p-l-0 p-r-0 m-b-25 d-flex justify-content-between">
                <p class="body-2"><%= data.restaurants.length %> spots found</p>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter
                    </a>
                  
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Most Relevant</a></li>
                      <li><a class="dropdown-item" href="#">Recent Search</a></li>
                      <li><a class="dropdown-item" href="#">Popular</a></li>
                    </ul>
                  </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Row -->
        <div class="row results-row">
            <!-- Results Area -->
            <div class="col-md-9 results-area">
                <% for(let i = 0; i < data.restaurants.length; i++) { %>
                    <div class="card result-card">
                        <div class="card-row">
                            <div class="card-header">
                                <div class="r-details">
                                    <div class="r-logo">
                                        <img src="/img/250.png" class="logo" alt="">
                                    </div>
                                    <div class="r-info">
                                        <h5 class="card-title"><%= data.restaurants[i].r_name %></h5>
                                        <p class="body-2 r-cuisine"><%= data.restaurants[i].cuisine %></p>
                                    </div>
                                </div>
                                <div class="open-maps">
                                    <a href="" class="link"><i class="fa-solid fa-fw fa-sharp fa-location-dot"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="card-row">
                            <div class="card-body">
                                <p class="body-2">
                                    <i class="fa-solid fa-sharp fa-fw fa-location-dot"></i>
                                    <%= data.restaurants[i].address.building %> <%= data.restaurants[i].address.street %>, <%= data.restaurants[i].borough %>, NY, <%= data.restaurants[i].address.zipcode %>
                                </p>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <!-- /.results-area -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /.search-results -->

<!-- Testimonials -->
<section id="testimonials">
    <div class="container-fluid">
        <!-- Section Header -->
        <div class="row section-header ms-auto me-auto text-center d-flex flex-column align-items-center w-100 m-b-100">
            <h2 class="col-md-4 fw-bold text-charcoal m-b-25">Hear from our users</h2>

            <p class="col-md-5 fw-medium p-section-header text-silver">
                Your feedback is very useful to  us, as we continue to improve the service we rely on your reviews to provide a better product. 
            </p>
        </div>
        <!-- /.section-header -->
        <div id="carouselExampleDark" class="carousel carousel-dark slide testimonials-area" data-bs-ride="carousel">
            <!-- <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 0; i < 3; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 3; i < 6; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <div class="row carousel-item-row d-flex justify-content-center text-center">
                        <% for(let i = 6; i < 9; i++) { %>
                            <div class="col-md-4">
                                <div class="card testimonial-card">
                                    <div class="card-head">
                                        <img src="<%= data.reviews[i].img%>" alt="Profile picture" class="card-avi">
                                        <h5 class="card-title"><%= data.reviews[i].name %></h5>
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><%= data.reviews[i].review %></p>

                                        <% if(data.reviews[i].rating == 4) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } else if (data.reviews[i].rating == 5) { %>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                            <i class="fa-solid fa-fw fa-star card-star"></i>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</section>
<!-- /.testimonials  -->